# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
fisheries-env/
env/

# Data
data/raw/
data/processed/
data/features/

# Models
models/trained_models/
models/model_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
